* {box-sizing: border-box;}

body{
    margin: 0;
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    line-height: 1.6;
}

/* ==================
    Typography
===================== */

h1, h2, strong{
    font-weight: 700;
}

.hero-title{
    /* 24px */
    font-size: 1.5rem; 
    line-height: 1.4;
    margin-bottom: 0;
}

.subtitle{
    font-size: 1rem;
}

.accent-color{
    color: #FFE600;
}

/* ==================
    Button
===================== */

.btn {
    font-size: 1.125rem;
    font-weight: 700;
    padding: .5em 2em;
    border: none;
    margin-top: .5em;
}

.btn-primary{
    background-color: #FFE600;
    color: #000000;
    justify-self: start;
}

.section-title{
    font-size: 1.125rem;
    color: #000000;
    margin-top: 1.5rem;
}

/* ==================
    General layout
===================== */

.main-grid{
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px)  minmax(1em, 1fr);

}

/* ==================
    Hero area
===================== */
.hero{
    background-image: url("../img/hero-bg.jpg");
    color: #fff;
    padding: 2em;
}

.hero > * {
    grid-column: 2 / -2;
}

/* ==================
    Info area
===================== */

.info{
    padding:  4em 0;
}

.col {
    grid-column:  2 / -2;
    text-align: center;
}

/* ==================
    Footer
===================== */

.footer{
    background-color: #ebebeb;;
    padding: 4em 0;
    text-align: center;
}

.footer-main,
.social-list{
    grid-column: 2 /-2;
}

.social-list{
    font-size: 27px;
    order: -1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.social-item{
    margin: 0.3em;
}

.footer-text {
    opacity: 0.4;
    
}

.copyright{
    opacity: 0.3;
}

/* nav{
    background-color: #101010;
    display: flex;
    justify-content: space-around;
}

.navigation{
    margin: auto;
}

.logo{
    background-color: #FFE600;
    color: #111111;
} */













@media (min-width: 900px){
    nav{
        background-color: #101010;
        display: flex;
        justify-content: space-between;
    }
    
    .navigation{
        width: 300px;
        display: flex;
        justify-content: space-around;
        margin: auto 0;
        
    }
    .nav-link {
        color: #ffffff;
        font-weight: bold;
        text-decoration: none;
    }
    
    .nav-link:focus {
        border-bottom: 2px solid #FFE600;
        font-weight: bold;
        text-decoration: none;
    }

    
    
    .section-2{
        background-color: #ffffff;
        color: #111111;
        display: flex;
        justify-content: space-evenly;
        margin: 3em 0;
    }
    
    .section-2-head{
        margin-bottom: 0;
       
    }
    
    .section-2-head:after{
        content:' ';
        position: relative;
        display:block;
        width: 50px;
        margin: 0 auto;
        margin-top: 0.5em;
        border: 2px solid #FFE600;
        border-radius:4px;
    }
    
    
    .section-2-panel{
        text-align: center;
        width: 285px;
    }
    
    
    footer{
        padding: 4em 7em;
        background-color: #EBEBEB;
        color:#000000;
    }
    
    .footer-body{
        width: 600px;
        margin: 0;
    }
    
    .footer-head{
        margin: 0;
        order: 1
    }
    
    .footer-1{
        display: flex;
        justify-content: space-between;
        margin: auto 0;

    }
    
    .social {
        font-size: 27px;
        order: 2
    }
    
    
    .footer-body{
  
        text-align: left;
       
    }
    
    .and{
        font-weight: normal;
    }
    
    .copyright{
        text-align: left;
    }
    
} */
