* {box-sizing: border-box;}

body{
    margin: 0;
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    line-height: 1.6;
}

img {
    max-width: 100%;
}
/* ==================
    Typography
===================== */

h1, h2, strong{
    font-weight: 700;
}

.hero-title{
    /* 24px */
    font-size: 1.5rem; 
    line-height: 1.4;
    margin-bottom: 0;
}

.subtitle, .page-title{
    grid-column: 2 / span 2;
    text-align: center;
}

.subtitle{
    font-size: 1rem;
    margin: .5em 0 3em;
}

.page-title{
    font-size: 3rem;
    margin-bottom: .5em;
    justify-self: center;
}

.page-title::after{
    content: "";
    display: block;
    width: 100%;
    height: 30px;
    background: #FFE600;
    margin-top: -40px;
    margin-left: 15px;

}

.accent-color{
    color: #FFE600;
}

.hero-subtitle {
    font-size: 1.125rem;
}


/* ==================
    Button
===================== */

.btn {
    font-size: 1.125rem;
    font-weight: 700;
    padding: .5em 2em;
    border: none;
    margin-top: .5em;
    cursor: pointer;
}

.btn-primary{
    background-color: #FFE600;
    color: #000000;
    justify-self: start;
}

.section-title{
    font-size: 1.125rem;
    color: #000000;
    margin-top: 1.5rem;
}

.section-title::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    background: #FFE600;
}

.section-title-center::after{
    margin: auto;
}

.section-title:first-child {
    margin-top: 0
}

.btn-link{
    color: #000000;
    text-decoration: none;
}

/* ==================
    General layout
===================== */

.main-grid{
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px)  minmax(1em, 1fr);
    grid-column-gap: 2em;

}

/* ==================
    Navigation
===================== */

.header{
    background-color: #000000;
}

.header-content{
    display: flex;
    grid-column: 2 / -2 ;
}


.logo{
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
    color: #000000;
    background-color: #FFE600;
    padding-top: 1em;
}

.nav{
    position: fixed;
    background-color: #000;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0%);
    transition: transform 700ms;
    
}

.header-home{
    position: absolute;
    width: 100%;
}

.navigation-open {
    transform: translateX(-100%);
}

.active{
    border-bottom:  2px solid #FFE600;
}
   


.nav-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}


.nav-link{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #FFE600;
}

.close-nav{
    color: red;
    cursor: pointer;
    border: 0;
    background: 0;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0.5em;
    position: absolute;
}

.open-nav{
    color: white;
    cursor: pointer;
    border: 0;
    background: 0;
    font-size: 1.5rem;
    padding: 0.5em;
    margin-left: auto;

}




/* ==================
    Hero area
===================== */
.hero{
    background-image: none;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 8em 0 4em;
}

.hero > * {
    grid-column: 2 / -2;
    margin-right: 20%;
}

/* ==================
    Info area
===================== */

.info{
    padding:  4em 0;
    grid-row-gap: 3em;
}

.col {
    grid-column:  2 / -2;
    text-align: center;
}

/* ==================
    Footer
===================== */

.footer{
    background-color: #ebebeb;;
    padding: 4em 0;
    text-align: center;
    grid-template-areas: 
    ". social ."
    ". main .";
}

.footer-main,
.social-list{
    grid-column: 2 /-2;
}

.social-list{
    font-size: 27px;
    grid-area: social;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-main{
    grid-area: main;
}

.logo-text{
    margin: 0;
    opacity: 0.4;
}

 
.and{
    font-weight: normal;
}

.social-item{
    margin: 0.3em;
}

.social-link{
    color: #000000;
    cursor: pointer;
}

.social-link:hover{
    color: rgb(131, 131, 131);
}

.footer-text {
    opacity: 0.4;
}

.copyright{
    opacity: 0.3;
    margin-top: 4em;
}

/* ==================
    Info Section
===================== */



.main-text{
   
    text-align: left;
}

/* ==================
    Main Template
===================== */



.main-template > * {
    grid-column: 2 / -2;
}

.main-template{
    padding: 4em 0;
}

.main-img{
    margin-bottom: 1.5em;
    box-shadow: 5px 5px 0px rgb(19, 19, 19), 10px 10px 0px #FFE600;
}

/* ==================
    Contact
===================== */

.contact-form{
    display: grid;
    margin-top: 2em;
    font-weight: 700;
    grid-auto-flow: dense;
    grid-column-gap: 1em;
}


.form-sec, .text-area {
    margin-bottom: 1.5em;
}

.form-sec{
    padding: 0 1em;
    height: 45px;
}

.text-area{
    padding: 0.5em;
    height: 150px;
    border: 1px solid #dbdada;
    resize: none;
}

.btn-form{
    margin-left: auto;
}
.email{
    text-decoration: underline;
}


@media (min-width: 600px){

    .hero{
        background-image: url("../img/hero-bg.jpg");
    }

    .main-img,
    .secondary-text{
        grid-column: 2;
    }

    .main-text {
        grid-column: 3 / span 2;
        grid-row: span 2;
    }

    .secondary-text {
        order: 2;
    }

    .contact-form{
        grid-template-columns: repeat(2, 1fr);

    }

    .fname-label, 
    .fname-input {
        grid-column: 1;
    }

    .lname-label, 
    .lname-input {
        grid-column: 2;
    }


    .message-label, 
    .message-textarea{
        grid-column: span 2;
    }

    .main-grid{
        display: grid;
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(130px, 350px))  minmax(1em, 1fr);
        grid-column-gap: 4em;
    }

    .hero > * {
        grid-column: 2 / span 2;
    }

    .hero {
        padding: 10em 0 6em;
    }

  
    .col {
        grid-column:  span 1;
        
        
    }

    .col:first-child{
        grid-column: 2 / span 1;
    }

    .footer {
        grid-template-areas: 
        ". main main social";
    }

    .footer-main{
        text-align: left;
    }

    
    .open-nav,
    .close-nav{
        display: none;
    }
    
    .nav{
        position: initial;
    }
    .nav-list{
        flex-direction: row;
        justify-content: flex-start;
    
    }


    .nav-item{
        margin-left: 2rem;
    }

    .nav-link:focus{
        border-bottom:  2px solid #FFE600;
    }

    .nav-link{
        color: #ffffff;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
    }

    .header-home, .nav{
        background-color: transparent;
    }

    .btn-form{
        grid-column: 2;
    }

 
} 

@media (min-width: 400px){ 
    .hero > * {
        margin-right: 20%;
    }
}

